body {
    display: grid;
    height: 100vh;
    margin: 0;
    background: rgb(27, 40, 68);
    background: linear-gradient(180deg, rgb(27, 40, 68) 0%, rgb(27, 40, 68) 40%,  rgb(24, 13, 43) 100%);
    grid-template-rows: 1fr 5fr 1fr;
}

body > * {
    width: 100%;
}

body *{
    /* Tipo de texto aqui */
    color: azure;
}

header {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

footer{
    justify-self: end;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    /* background: #005677; */
    align-items: center;
    justify-content: center;
    
    padding-bottom: 20px;
    color: #e6e6e6;
    font-weight: bold;
}

main h2 {
    width: 100%;
    background-color: #C4C4C4;
    padding: 8px 15px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;

    color: #005677;
}

li span{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.date-list li {
    list-style: none;
    gap: 10px;
    padding-bottom: 10px;
}

.date-list li p{
    padding: 0%;
    margin: 0;
}

header h2 {
    /* display: flex; */
    font-weight: 800;
    letter-spacing: 4px;
    height: 60px;
    text-align: center;
}

.nav-list{
    list-style-type: none;
}

.nav-list li{
    margin: 3px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-list li:hover{
    background-color: #2e6c8518;
}

main > section {
    width: 50%;
    align-self: center;
}

.hide-section{
    display: none !important;
}

.nav-item-selected{
    background-color: #2b749136;
}

.mi-foto{
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    border: 5px solid rgba(41, 29, 112, 0.301);
    align-self: center;
}